@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-dark: #000814;
    --primary-light: #e5f0ff;
    --accent: #6c62ff;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
}
